@use 'pkg:common/abstract/extends';
@use 'pkg:common/base/form';
@use 'ui/analyse/css/tools';
@use 'ui/analyse/css/action-menu';
@use 'pkg:common/theme';
@use 'layout';
@use 'footer';
@use 'not-found';

$mq-col1: 9999px; // todo

html {
  overflow: hidden;
}

body {
  overflow-y: hidden;
  background: none;

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner {
    background: theme.$c-bg-zebra;
  }
}

.chapter-name {
  @extend %roboto;

  padding: 0.3em;
  border-bottom: theme.$border;
  background: theme.$c-bg-zebra;
  text-align: center;
}

.analyse__tools {
  @extend %box-neat-force;

  background: theme.$c-bg-box;
  border: theme.$border;
  border-bottom: none;
}

.analyse__moves {
  border: none;

  .tview2-column > index {
    background: none;
  }
}

.fbt {
  border-radius: 0;

  &:not(.disabled) {
    cursor: pointer;
  }
}

.analyse__controls {
  @extend %box-radius-bottom;

  overflow: hidden;
  background: theme.$c-bg-box;
  border: theme.$border;
  padding-top: 0;

  .jumps {
    display: flex;
    width: 100%;
    height: 100%;

    .fbt {
      flex: 1;
      &:not(.disabled):hover {
        background: theme.$m-primary_bg-box_mix_30;
      }
    }
  }
}

.analyse__board {
  .sg-wrap {
    gap: 2vmin;
    padding: 0;

    sg-board {
      border-radius: 0;
      box-shadow: none;
    }
  }
}
