@use 'pkg:common/abstract/uniboard';

.analyse {
  display: grid;
  grid-template-areas:
    'board'
    'tools'
    'controls'
    'footer';
  grid-template-columns: auto;
  grid-template-rows: auto calc(100vh - 6rem - (100vw / 9 * 12 + #{uniboard.$hands-gap})) 3rem 3rem;

  &__board {
    grid-area: board;
  }

  &__tools {
    grid-area: tools;
  }

  &__controls {
    grid-area: controls;
    height: 100%;
  }

  &__footer {
    grid-area: footer;
    height: 3rem;
  }

  &.main-v-minishogi,
  &.main-v-kyotoshogi {
    grid-template-rows:
      auto calc(100vh - 6rem - (100vw / 5 * 7 / 11 * 12 + #{uniboard.$hands-gap}))
      3rem 3rem;
  }

  &.main-v-chushogi {
    grid-template-rows: auto calc(100vh - 6rem - 7px - (100vw / 11 * 12)) 3rem 3rem;

    .analyse__board {
      margin-top: 7px;
    }
  }

  &.main-v-dobutsu {
    grid-template-rows:
      auto calc(100vh - 6rem - (100vw / 4 * 6 / 11 * 12 + #{uniboard.$hands-gap}))
      3rem 3rem;

    .mini-board.v-dobutsu {
      width: calc(100% / 3 * 2);
      margin: auto;
      padding-bottom: calc(100% / 11 * 12 / 3 * 6 / 3 * 2 + #{uniboard.$hands-gap});
    }
  }

  @media (min-aspect-ratio: 1 / 1) {
    grid-template-columns: calc((100vh - 3rem) / 12 * 11 / 9 * 11 + #{uniboard.$hands-gap}) 1fr;
    grid-template-rows: calc(100vh - 6rem) 3rem 3rem;
    column-gap: uniboard.$hand-gap;
    padding-left: uniboard.$hand-gap;

    &.main-v-minishogi,
    &.main-v-kyotoshogi {
      grid-template-columns: calc((100vh - 3rem) / 12 * 11 / 5 * 7 + 4vmin) 1fr;
      grid-template-rows: calc(100vh - 6rem) 3rem 3rem;
    }

    &.main-v-chushogi {
      grid-template-columns: calc((100vh - 3rem) / 12 * 11) 1fr;
      grid-template-rows: calc(100vh - 6rem) 3rem 3rem;

      .analyse__board {
        margin-top: unset;
      }
    }

    &.main-v-dobutsu {
      grid-template-columns: calc((100vh - 3rem) / 12 * 11 / 4 * 5 + 4vmin) 1fr;
      grid-template-rows: calc(100vh - 6rem) 3rem 3rem;

      .main-board.v-dobutsu {
        width: 100%;
        padding-bottom: calc((100% - #{uniboard.$hands-gap}) / 5 * 4 / 11 * 12);
      }
    }

    grid-template-areas:
      'board tools'
      'board controls'
      'footer footer';
  }
}
