@use 'layout';
@use 'interface';
@use 'spare';
@use 'actions';
@use 'links';
@use 'underboard';
@use 'variant';

.board-editor {
  user-select: none;

  .main-board {
    grid-area: editor;

    &.v-chushogi {
      width: 100%;
      padding-bottom: calc(100% / 11 * 12);
    }
  }
}
