@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/media-queries';
@use '../abstract/variables';
@use '../abstract/z-index' as z;
@use '../theme/generated/theme';
@use 'topnav-hidden';
@use 'topnav-visible';
@use 'title';
@use 'buttons';

#top {
  height: variables.$site-header-height;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: z.get('site-header');
  max-width: 1800px;
  margin: 0 auto;

  --dropdown-top: 40px;

  @include breakpoint.breakpoint(media-queries.$mq-site-header-tall) {
    --dropdown-top: 60px;
  }
}

.site-title-nav {
  display: flex;
  justify-content: flex-start;
}

// icon looks too bright otherwise
#friends-toggle {
  opacity: 0.9;
}
