@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/uniboard';

.main-board,
.mini-board {
  @extend %square;

  align-self: center;
  padding-bottom: calc(100% / 11 * 12 / 9 * 11 + #{uniboard.$hands-gap}); // 100% / 11 * 12 / 9 * 11

  .sg-wrap {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas:
      'sg-hand-top'
      'sg-board'
      'sg-hand-bottom';
    gap: uniboard.$hand-gap;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    sg-board {
      grid-area: sg-board;
    }
  }

  &.v-minishogi,
  &.v-kyotoshogi {
    padding-bottom: calc(100% / 11 * 12 / 5 * 7 + #{uniboard.$hands-gap});

    .sg-wrap {
      grid-template-rows: 1fr 5fr 1fr;
    }
  }

  &.v-dobutsu {
    padding-bottom: calc(100% / 11 * 12 / 3 * 6 + #{uniboard.$hands-gap});

    .sg-wrap {
      grid-template-rows: 1fr 4fr 1fr;
    }
  }

  &.v-chushogi {
    padding-bottom: calc(100% / 11 * 12);

    .sg-wrap {
      grid-template-areas: 'sg-board';
      grid-template-rows: 1fr;
    }
  }
}

.main-board {
  @include breakpoint.breakpoint(uniboard.$mq-col2-uniboard) {
    padding-bottom: calc((100% - #{uniboard.$hands-gap}) / 11 * 9 / 11 * 12);

    .sg-wrap {
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr 9fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 'sg-hand-top sg-board sg-hand-bottom';
      gap: 2vmin;
    }

    &.v-minishogi,
    &.v-kyotoshogi {
      padding-bottom: calc((100% - #{uniboard.$hands-gap}) / 7 * 5 / 11 * 12);

      .sg-wrap {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto;
      }
    }

    &.v-dobutsu {
      padding-bottom: calc((100% - #{uniboard.$hands-gap}) / 5 * 4 / 11 * 12);

      .sg-wrap {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto;
      }
    }

    &.v-chushogi {
      justify-self: center;
      width: calc((100% - #{uniboard.$hands-gap}) / 12 * 9 / 11 * 12);
      padding-bottom: calc((100% - #{uniboard.$hands-gap}) / 11 * 9 / 11 * 12);

      .sg-wrap {
        grid-template-areas: 'sg-board';
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }
}

.mini-board {
  &.v-minishogi,
  &.v-kyotoshogi {
    padding-bottom: calc(100% / 11 * 12 / 5 * 7 + #{uniboard.$hands-gap});
  }

  &.v-dobutsu {
    padding-bottom: calc(100% / 11 * 12 / 3 * 6 + #{uniboard.$hands-gap});
  }

  .sg-wrap {
    gap: 1vmin;
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    sg-board {
      sg-squares sq::after {
        width: 5px !important;
        height: 5px !important;
        margin: -3px !important;
      }

      .grid-width-2 & sg-squares sq::after,
      .thick-grid:not(.custom) & sg-squares sq::after {
        width: 6px !important;
        height: 6px !important;
        margin: -4px !important;
      }

      .grid-width-3 & sg-squares sq::after {
        width: 8px !important;
        height: 8px !important;
        margin: -5px !important;
      }
    }
  }

  &.v-chushogi .sg-wrap {
    padding: unset;

    sg-squares sq::after {
      width: 3px !important;
      height: 3px !important;
      margin: -2px !important;
    }

    .grid-width-2 & sg-squares sq::after,
    .thick-grid:not(.custom) & sg-squares sq::after {
      width: 5px !important;
      height: 5px !important;
      margin: -3px !important;
    }

    .grid-width-3 & sg-squares sq::after {
      width: 6px !important;
      height: 6px !important;
      margin: -4px !important;
    }
  }
}

.trad-layout .main-board {
  // this shrinks everything down - not sure...
  padding-bottom: calc((100% - 4vmin) / 43 * 25 * 12 / 11);

  .sg-wrap {
    // these are if we go with default padding-bottom
    // height: calc(100% * (25 / 43) * (11 / 9));
    // top: calc((100% - (100% * 25 / 43 * 11 / 9)) / 2);

    grid-template-columns: 9fr 25fr 9fr;

    .sg-hand-wrap {
      height: calc(100% / 3);

      sg-hand {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;

        sg-hp-wrap {
          width: calc(100% / 3);
          height: calc(100% / 3);
          flex: 0 0 calc(100% / 3);
        }
      }
    }
  }
}
