@use '../abstract/extends';
@use '../abstract/icons';
@use '../abstract/z-index' as z;
@use '../theme/generated/theme';

.flash {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: z.get('flash');
  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;

  &__content {
    padding: 0.6em 2em;
    background: theme.$c-good;
    color: theme.$c-good-over;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
  }

  &-failure .flash__content {
    background: theme.$c-bad;
    color: theme.$c-bad-over;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
