@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/mixins';
@use '../abstract/z-index' as z;
@use '../abstract/variables';
@use '../theme/generated/theme';

.subnav {
  a {
    @extend %nowrap-hidden, %page-text;
  }

  @include breakpoint.breakpoint(media-queries.$mq-subnav-top) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3px;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      position: relative;
      font-family: Roboto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: theme.$c-font;
      padding: 0.75rem 1.25rem;

      &:hover {
        color: theme.$c-font-clearer;
      }

      &.active {
        color: theme.$c-font-clear;

        &::after {
          content: '';
          position: absolute;
          height: 7px;
          bottom: -4px;
          border-radius: 3px;
          left: 5%;
          width: 100%;
          background: theme.$c-accent;
        }
      }
    }

    .sep {
      display: none;
    }
  }

  @include breakpoint.breakpoint(media-queries.$mq-subnav-side) {
    margin-right: 10px;
    z-index: z.get('subnav-side'); /* active border must go over the page content */

    a {
      display: flex;
      border-radius: variables.$box-radius-size;
      align-items: center;
      color: theme.$c-font-page;
      gap: 1ch;
      overflow: hidden;
      padding: 0.7rem 2vw 0.7rem 0.8rem;
      position: relative;

      &.active,
      &:hover {
        color: theme.$c-font-clear;
        background: rgba(128, 128, 128, 0.07);
      }

      &.active {
        @include mixins.box-shadow;

        background: theme.$c-bg-box;
      }
    }

    .sep {
      height: 2em;
    }
  }
}
