@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/uniboard';
@use '../theme/generated/theme';

.form3 .captcha {
  @extend %flex-wrap;

  margin: 1em 0 0 -1em;

  @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
    flex-wrap: nowrap;
  }

  &.is-invalid:not(.success) {
    @extend %box-radius;

    outline: 1px solid theme.$c-error;
    background: theme.$m-error_bg-high_mix_10;
  }

  .challenge {
    flex: 0 0 210px;
    margin-left: 1em;

    .mini-board {
      padding-bottom: calc(100% / 11 * 12 / 5 * 7 + #{uniboard.$hands-gap});

      .sg-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas:
          'sg-hand-top'
          'sg-board'
          'sg-hand-bottom';
        padding: 0;

        sg-squares sq.help {
          animation: selected 1s ease-in-out infinite alternate;
        }
      }
    }
  }

  .captcha-explanation {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 0 0 1em 1em;
  }

  &.is-invalid .captcha-explanation {
    padding: 1em;
  }

  .captcha-explanation .result {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
  }

  .success {
    color: theme.$c-good;
  }

  .failure {
    color: theme.$c-error;
  }

  &.success .success,
  &.failure .failure {
    display: block;
  }
}
