@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/z-index' as z;
@use 'pkg:common/theme';

#analyse-cm {
  @extend %box-radius, %popup-shadow;

  background: theme.$c-bg-box;
  position: absolute;
  display: none;
  z-index: z.get('context-menu');
  cursor: default;
  user-select: none;
  overflow: hidden;

  &.visible {
    display: block;
  }

  .title {
    @extend %metal;

    padding: 0.4em;
    text-align: center;
    font-size: 1.2em;
    border-bottom: theme.$border;
    margin: 0;
  }

  a {
    @extend %flex-center-nowrap;

    color: theme.$c-font;
    padding: 0.5em 0.6em 0.5em 0.3em;

    &::before {
      width: 2em;
      text-align: center;
    }

    &:hover {
      background: theme.$m-accent_bg-box_mix_10;
    }
  }

  .glyphs {
    display: flex;

    a {
      flex: 1;

      &.active {
        background: theme.$c-accent;
        color: theme.$c-accent-over;
      }

      &::before {
        @extend %flex-center;

        justify-content: center;
        content: attr(data-symbol);
        font-size: 1.2em;
        font-weight: bold;
        width: 2em;

        @include mixins.transition;
      }
    }
  }
}
