@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'local';

.analyse__fork {
  @extend %flex-center, %box-radius;

  flex: 0 0 auto;
  overflow: hidden;
  gap: 1px;

  @include breakpoint.breakpoint(local.$mq-col1) {
    display: none;
  }

  move {
    @extend %flex-center;

    background: theme.$m-primary_bg-box_mix_25;
    color: theme.$c-font-clear;
    flex: 1 1 calc(50% - 1px);
    cursor: pointer;
    padding: 0.3em 1em;

    index {
      padding-right: 0.5em;
    }
  }

  move:hover,
  &:not(:hover) move.selected {
    background: theme.$c-primary;
    color: theme.$c-primary-over;
  }

  glyph {
    @extend %base-font;

    margin-left: 2px;
  }

  eval {
    @extend %roboto;

    flex: 3 0 auto;
    text-align: right;
    font-size: 0.9em;
  }
}
