@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.study__glyphs {
  @extend %box-neat-force, %flex-center;

  background: theme.$c-bg-box;
  white-space: nowrap;
  user-select: none;

  > div {
    flex: 1 0 30%;
  }

  button {
    @extend %flex-center-nowrap;
    @include mixins.transition;

    color: theme.$c-font;
    height: 2.3em;
    line-height: 2.3em;
    align-items: stretch;
    border: none;
    background: transparent;
    width: 100%;

    &::before {
      @extend %flex-center;

      justify-content: center;
      content: attr(data-symbol);
      font-size: 1.2em;
      font-weight: bold;
      width: 2em;
      background: theme.$c-bg-low;
      margin-right: 0.5em;

      @include mixins.transition;
    }

    &:hover,
    &.active {
      background: theme.$c-bg-zebra;
      color: theme.$c-font-clearer;
    }

    &:hover::before {
      background: theme.$c-bg-zebra2;
    }

    &.active::before {
      background: theme.$c-secondary;
      color: theme.$c-secondary-over;
    }

    &.g-inaccuracy {
      color: theme.$c-inaccuracy;

      &.active::before {
        background-color: theme.$c-inaccuracy;
        color: white;
      }
    }

    &.g-mistake {
      color: theme.$c-mistake;

      &.active::before {
        background-color: theme.$c-mistake;
        color: black;
      }
    }

    &.g-blunder {
      color: theme.$c-blunder;

      &.active::before {
        background-color: theme.$c-blunder;
        color: theme.$c-bad-over;
      }
    }

    &.g-good-move {
      color: theme.$c-good-move;

      &.active::before {
        background-color: theme.$c-good-move;
        color: black;
      }
    }

    &.g-brilliant {
      color: theme.$c-brilliant;

      &.active::before {
        background-color: theme.$c-brilliant;
        color: black;
      }
    }

    &.g-interesting {
      color: theme.$c-interesting;

      &.active::before {
        background-color: theme.$c-interesting;
        color: black;
      }
    }
  }
}
