@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.study__multiboard {
  @extend %box-neat;

  background: theme.$c-bg-box;

  &.loading {
    opacity: 0.7;
  }

  &.nopager {
    padding: 2em;
  }

  .top {
    @extend %flex-center;

    padding: 0.4em 1.5em;
    justify-content: center;
  }

  .pager {
    @extend %flex-center;

    .page {
      margin: 0 0.4em;
    }
  }

  .fbt {
    @extend %box-radius;

    padding: 0.6em 1em;
  }

  .playing {
    cursor: pointer;
  }

  .playing input {
    vertical-align: middle;
    margin-right: 3px;
  }

  .now-playing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 0.5rem 0.5rem 0.5rem;
    gap: 0.5rem;

    a {
      @extend %box-radius;

      display: flex;
      flex-direction: column;
      justify-content: center;
      color: theme.$c-font;
      padding: 0.4em;

      @include mixins.transition(background);

      background: theme.$m-bg-box_alpha_neg50;
      overflow: hidden;
      border: 1px solid transparent;

      &:hover,
      &.active,
      &:active {
        border-color: theme.$c-primary;
        background-color: theme.$m-primary_alpha_neg80;
      }

      sg-board {
        box-shadow: none;
      }
    }

    .name {
      @extend %nowrap-ellipsis;

      margin: 0.25rem;
      font-weight: 600;
    }
  }
}
