@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use '../topic';

.study__tags {
  @extend %box-neat-force;

  background: theme.$c-bg-box;
  text-align: left;

  h2 {
    @extend %metal, %flex-between-nowrap;

    font-size: 1.3em;
    padding: 0 1rem;
    white-space: nowrap;
    border-bottom: theme.$border;

    .name {
      @extend %ellipsis;

      display: flex;
      align-items: center;
      padding: 0.7rem 0;

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
      }
    }

    .credit {
      display: block;
      font-size: 0.8rem;
      margin: 0.2rem 0 -0.3rem 0;
    }

    .liking {
      margin-left: 1rem;
      font-weight: bold;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }

    .liking:hover {
      opacity: 1;
      color: theme.$c-red;
    }
  }

  table {
    border: none;

    th {
      font-weight: bold;
      color: theme.$c-font-dim;
      width: 1px;
      padding: 0 0.3em 0 1em !important;
      word-break: keep-all;
    }

    td {
      padding: 0;
    }

    input,
    span {
      display: block;
      padding: 0.6em 1em 0.6em 0.7em;
      line-height: 1.7;
    }

    input {
      border: none;
      background: none;
      width: 100%;
      border-radius: 0;
    }

    input:hover,
    input:focus {
      background: theme.$m-primary_bg-box_mix_10;
    }

    th:has(select) {
      background-color: theme.$c-primary;

      select {
        color: theme.$c-primary-over;
      }
    }

    select {
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
    }
  }
}
