@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/icons';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/theme';
@use 'header';

.streamer-edit {
  .streamer-header {
    position: relative;
    margin-bottom: 2em;

    .streamer-info {
      @include breakpoint.breakpoint(media-queries.$mq-medium) {
        margin: 20px 10px 0 2em;
      }

      h1 {
        text-align: center;
      }
    }

    @include breakpoint.breakpoint(media-queries.$mq-not-small) {
      display: flex;
      flex-direction: column;
      padding-top: 2em;
    }

    a {
      text-align: center;
    }
  }

  .status {
    @extend %box-radius;

    padding: 1em 1.5em;
    margin-bottom: 2em;
    background: theme.$c-bg-zebra;
    border: 1px solid theme.$c-warn;

    &::before {
      font-size: 2em;
      margin-right: 0.4em;
    }

    form {
      display: inline;
    }

    &.highlight {
      border-color: theme.$c-primary;
    }

    &.is-green {
      border-color: theme.$c-good;
    }

    &.mod_log {
      border: none;
    }
  }

  .mod {
    margin-bottom: 6em;
  }

  @include breakpoint.breakpoint(media-queries.$mq-medium) {
    .form-check {
      margin-top: 2rem;
    }
  }

  form {
    #form3-image {
      display: none;
    }

    .form-check {
      margin-top: 2rem;
    }
  }
}

.streamer-rules {
  padding: 2rem;
  background: theme.$c-bg-zebra;
  margin-bottom: 2rem;

  h2 {
    font-weight: bold;
    font-size: 1.3rem;
  }

  li {
    list-style: disc;
    margin: 1em 0 1em 2.2em;
  }
}
