@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'local';

.ricons {
  @extend %box-neat-force;

  display: flex;
  justify-content: center;
  border-top: theme.$border;
  border-bottom: theme.$border;
  min-height: 4rem;

  .fbt {
    flex: 1;
    font-size: 1.3em;
    padding: 0.75rem 0;

    &.pause-yes {
      font-size: 1.2em;
    }

    &.hidden {
      padding-right: 0;
      padding-left: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  .icon-loader {
    display: flex;
    align-items: center;

    .ddloader {
      margin: 0;
    }
  }

  &.confirm > a,
  &.confirm > button {
    display: none;
    transition: unset;
  }

  .act-confirm {
    display: flex;
    width: 100%;
    position: relative;

    .fbt.no {
      position: absolute;
      width: 100%;
      top: -4rem;
      height: 4rem;
      font-size: 1.25rem;
      padding: 0;
      border-top: theme.$border;
      border-bottom: theme.$border;
      background: theme.$c-bg-box;

      &:hover {
        background: theme.$c-bad;
      }
    }

    &.resign .fbt.no:hover {
      background: theme.$c-good;
    }
  }

  @include breakpoint.breakpoint(local.$mq-col1) {
    background: theme.$c-bg-box;
    border: none;
  }

  @include breakpoint.breakpoint(local.$mq-col2) {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
  }
}
