@use '../theme/generated/theme';

@mixin coords-colors {
  $coords-color: (
    'orange': black,
    'natural': black,
    'wood': black,
    'wood1': black,
    'kaya1': black,
    'kaya2': black,
    'oak': black,
    'space': #eee,
    'painting1': black,
    'painting2': black,
    'kinkaku': black,
    'dobutsu': #c36e5f,
    'gray': #eee,
    'blue': #eee,
    'custom': var(--custom-grid-color, theme.$c-font),
    'v-dobutsu': #c36e5f, // variant override,
  );

  @each $theme, $color in $coords-color {
    .#{$theme} {
      .files,
      .ranks {
        color: $color;
      }
    }
  }
}
