@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/icons';
@use 'pkg:common/theme';
@use '../local';

$c-study-button: theme.$c-accent;

.study__buttons {
  @extend %flex-between;

  align-items: stretch;

  span {
    font-size: 1.3rem;
    min-width: 0;
  }

  .left-buttons {
    flex: 1 1 auto;
    border-bottom: 0;
    height: uniboard.$col3-uniboard-controls;
  }

  .right {
    @extend %flex-center;

    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;
    height: uniboard.$col3-uniboard-controls;

    .preview {
      @extend %flex-center-nowrap, %box-radius-top;

      transition: background-color 150ms;
      padding: 0 0.5em;

      &:hover:not(.disabled):not([disabled]) {
        background: theme.$c-primary;
      }
    }

    &:empty {
      display: none;
    }
  }

  .behind {
    background: theme.$c-bad;
    color: theme.$c-bad-over;
    padding: 0 5px;
    border-radius: 9px;
    margin-right: 4px;
  }

  .mode {
    @extend %flex-center-nowrap, %box-radius-top, %page-text;

    align-self: stretch;
    padding: 0 0.4em;
    opacity: 0.8;
    font-weight: bold;
    color: theme.$c-bad;
    font-family: monospace;

    &.on {
      color: theme.$c-good;
    }

    &:hover {
      filter: brightness(1.05);
    }
  }
}

.tabs-horiz {
  .chapters,
  .members {
    flex: 1;
  }

  .more {
    flex: 0;

    &:hover {
      border-bottom-color: transparent;
      color: theme.$c-primary;
    }
  }
}

/* reused by context menu */
.glyph-icon::before {
  content: '⁉';
  font-size: 1.2em;
  line-height: 1.15em;
}
