@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

$span-width: 2em;

.study__chapters {
  max-height: 14em;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  user-select: none;

  act {
    @extend %flex-center;

    cursor: pointer;
    align-self: center;
    justify-content: center;
    font-size: 0.9em;
    opacity: 0;
    padding: 0.4em;
    margin-right: 0.25rem;

    @include mixins.transition;
  }

  > div.active {
    act {
      opacity: 0.2;
    }
  }

  > div:hover act {
    opacity: 0.7;

    &:hover {
      color: theme.$c-primary-over;
      opacity: 1;
    }
  }

  .add {
    border-top: theme.$border;
    cursor: pointer;
  }

  h3 {
    @extend %break-word, %base-font;

    flex: 1 1 100%;
    font-size: 1em;
    margin: 0.4em 0;
    align-self: center;
  }

  > div {
    @extend %flex-between-nowrap;

    cursor: pointer;
    align-items: stretch;

    @include mixins.transition;

    &.active,
    &:active {
      color: theme.$c-font-clear;
      background: theme.$m-primary_bg-box_mix_20;
    }

    &:hover {
      color: theme.$c-font-clear;
      background: theme.$m-primary_bg-box_mix_80;
      color: theme.$c-primary-over;

      > span {
        color: theme.$c-primary-over;
      }
    }

    > span {
      @extend %flex-center;

      flex: 0 0 $span-width;
      justify-content: center;
      color: theme.$c-primary;
      font-weight: bold;
      height: auto;
      margin-right: 0.4em;
      opacity: 0.8;
      border-right: theme.$border;
    }
  }

  .sortable-ghost {
    opacity: 0.7;

    &,
    span {
      background: theme.$c-secondary !important;
      color: theme.$c-secondary-over !important;
    }
  }
}

.chapter__side {
  @extend %box-neat-force;

  background: theme.$c-bg-box;
}
