@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'ui/editor/css/actions';
@use 'ui/editor/css/links';
@use 'ui/editor/css/spare';
@use 'ui/editor/css/underboard';
@use 'ui/editor/css/variant';
@use '../local';

.board-editor-wrap {
  min-height: 280px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: theme.$border;

  .spinner {
    padding-top: 90px;
  }

  @include breakpoint.breakpoint(local.$mq-col2) {
    min-width: var(--col2-uniboard-main-size);
  }
}

$board-width: calc(
  (100vh - 4vmin) * var(--board-scale) * 0.8 - #{variables.$site-header-outer-height}
);

.board-editor {
  display: grid;
  grid-template-columns: minmax(0, $board-width);
  grid-template-areas:
    'e-spare-top'
    'e-board'
    'e-spare-bottom'
    'e-actions'
    'e-tools';
  user-select: none;
  width: 90%;
  max-width: calc(100vh / 15 * 9 / 12 * 11 - #{uniboard.$hands-gap});
  margin: auto;

  &.main-v-kyotoshogi,
  &.main-v-minishogi {
    max-width: calc(100vh / 12 * 5 / 12 * 11 - #{uniboard.$hands-gap});
  }

  &.main-v-dobutsu {
    max-width: calc(100vh / 10 * 3 / 12 * 11 - #{uniboard.$hands-gap});
  }

  .actions {
    grid-area: e-actions;
    font-size: 0.8em;
  }

  &-interface {
    grid-area: e-tools;

    .tools {
      display: flex;
      gap: 4%;

      & > div {
        flex: 1;

        select {
          width: 100%;
        }
      }
    }
  }

  .main-board {
    grid-area: e-board;

    sg-board {
      cursor: inherit;
    }
  }

  .spare {
    &-top {
      grid-area: e-spare-top;
    }

    &-bottom {
      grid-area: e-spare-bottom;
    }

    &::after {
      content: unset;
    }
  }
}

@include breakpoint.breakpoint(uniboard.$mq-col2-uniboard) {
  .board-editor {
    width: 100%;
    max-width: unset;
    column-gap: 0.8em;
    grid-template-columns: 2fr 11fr 2fr;
    grid-template-areas:
      'e-spare-top e-board e-spare-bottom'
      'e-actions e-actions e-actions'
      'e-tools e-tools e-tools';

    .spare {
      padding: 0 calc(#{uniboard.$hands-gap} / 11); // hands padding per square
    }

    &.main-v-chushogi {
      grid-template-columns: 4fr 12fr 4fr;

      .spare {
        padding: 0;
      }
    }

    &.main-v-minishogi,
    &.main-v-kyotoshogi {
      grid-template-columns: 2fr 7fr 2fr;

      .spare {
        padding: 0 calc(#{uniboard.$hands-gap} / 7);
      }
    }

    &.main-v-dobutsu {
      grid-template-columns: 2fr 5fr 2fr;

      .spare {
        padding: 0 calc(#{uniboard.$hands-gap} / 4);
      }
    }
  }
}
