@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/theme';

.post-game {
  .study__side {
    .game__info {
      @extend %box-neat-force;

      background-color: theme.$c-bg-box;
      display: flex;
      margin-top: 2vmin;
      height: uniboard.$col2-uniboard-controls;

      a,
      button {
        padding: 0.8em;
        flex: 5;
        box-shadow: none;
        border-radius: 0;
        color: theme.$c-font;

        &:focus,
        &:hover,
        &.active {
          box-shadow: none;
        }
      }

      a {
        &:first-child {
          @extend %box-radius-bottom-left;

          flex: 1;
        }

        &:last-child {
          @extend %box-radius-bottom-right;

          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
