@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

.chat__members {
  @extend %page-text;

  font-size: 0.9em;
  height: 100%;
  overflow: hidden;
  margin-bottom: 1rem; // phone corners

  .line {
    display: flex;
    align-items: flex-start;

    &.none {
      display: none;
    }

    .number {
      display: flex;
      align-items: center;
      margin-right: 1.2ch;

      &::before {
        font-size: 1em;
        color: theme.$c-font-dim;
        margin-right: 0.3ch;
      }
    }

    .user-link {
      color: theme.$c-font-dim;
    }
  }
}
